<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.attendance.mapper.AttendanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.attendance.entity.AttendanceRecord">
        <id column="USER_ID" property="userId"/>
        <id column="WORK_DATE" property="workDate"/>
        <result column="ATTENDANCE_TYPE" property="attendanceType"/>
        <result column="USER_NAME" property="userName"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="period" property="dayPeriod"/>
        <result column="VERSION" property="version"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="EMPLOYEE_ID" property="employeeId"/>
        <result column="WORK_MONTH" property="workMonth"/>
        <result column="WORK_TIME" property="workTime"/>
        <result column="FILE_URL" property="fileUrl"/>
    </resultMap>

    <resultMap id="listMap" type="cn.stylefeng.guns.modular.attendance.entity.ViewAttendance">
        <id column="USER_ID" property="userId"/>
        <result column="EMPLOYEE_ID" property="employeeId"/>
        <result column="EMPLOYEE_NAME_CN" property="employeeNameCN"/>
        <result column="WORK_MONTH" property="workMonth"/>
        <result column="WORK_TIME" property="workTime"/>
        <result column="PROJECT_NAME" property="projectName"/>
        <result column="CUSTOMER_SITE_NAME" property="customerSiteName"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="STATUS" property="status"/>
    </resultMap>


    <insert id="insertAttendanceList" parameterType="cn.stylefeng.guns.modular.attendance.entity.AttendanceRecord">

      insert into attendance_record (
      USER_ID, ATTENDANCE_TYPE, WORK_DATE, START_TIME, END_TIME,
      CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER)
      values
      (#{userId},#{attendanceType},#{workDate},#{startTime},#{endTime},
      CURRENT_TIMESTAMP,#{userId},CURRENT_TIMESTAMP,#{userId})
      ON DUPLICATE KEY UPDATE
      USER_ID = #{userId},
      ATTENDANCE_TYPE = #{attendanceType},
      WORK_DATE= #{workDate},
      START_TIME = #{startTime},
      END_TIME = #{endTime} ,
      CREATE_TIME = CURRENT_TIMESTAMP,
      CREATE_USER = #{userId},
      UPDATE_TIME = CURRENT_TIMESTAMP,
      UPDATE_USER = #{userId}

    </insert>

    <select id="selectMyAttendance" resultMap="BaseResultMap">
        select a.*,
                b.NAME AS 'USER_NAME' ,
                TIMEDIFF(a.END_TIME,a.START_TIME) as 'period'
        from attendance_record a
        inner join sys_user b on a.USER_ID=b.USER_ID
        where a.USER_ID=#{userId}
        and DATE_FORMAT( a.WORK_DATE, '%Y%m' ) = #{selectMonth}
    </select>

    <select id="selectAttendanceType" resultType="java.lang.Integer">
        SELECT
            m.ATTENDANCE_TYPE
        FROM
            customer_site_relation r
            INNER JOIN customer_site m ON r.CUSTOMER_SITE_ID = m.CUSTOMER_SITE_ID
        WHERE
            r.USER_ID =#{userId}
    </select>

    <select id="selectUsers" resultType="cn.stylefeng.guns.modular.attendance.entity.AttendanceAllRecord">
      SELECT
        a.USER_ID as 'userId',
        a.`NAME` AS 'USER_NAME',
        b.ATTENDANCE_TYPE,
        e.CUSTOMER_SITE_ID as 'customerSiteId',
        e.CUSTOMER_SITE_NAME as 'customerSiteName',
        e.CUSTOMER_SITE_ADDRESS as 'customerSiteAddress',
        c.STANDARD_MAX_TIME as 'maxHours',
        c.STANDARD_MIN_TIME as 'minHours'
    FROM
        sys_user a
        LEFT JOIN attendance_record b ON a.USER_ID = b.USER_ID
        LEFT JOIN attendance_type c ON b.ATTENDANCE_TYPE = c.ATTENDANCE_TYPE
        LEFT JOIN customer_site_relation d ON d.USER_ID = d.USER_ID
        LEFT JOIN customer_site e ON d.CUSTOMER_SITE_ID = e.CUSTOMER_SITE_ID
    GROUP BY a.USER_ID
    </select>


    <select id="selectMyAttendanceByMonth"
            resultType="cn.stylefeng.guns.modular.attendance.entity.ViewAttendance">
        select * from v_attendance
        where EMPLOYEE_ID=#{employeeId}
        <if test="currentMonth != null">
            AND WORK_MONTH=#{currentMonth}
        </if>
        order by WORK_MONTH desc
    </select>


    <select id="selectCustomerSiteInfoForAddForm" resultType="java.util.Map">
       select  DISTINCT EMPLOYEE_ID,CUSTOMER_SITE_NAME,PROJECT_NAME,COMPANY_NAME from v_attendance
        where EMPLOYEE_ID=#{employeeId}
    </select>

    <insert id="insertAttendance" parameterType="cn.stylefeng.guns.modular.attendance.entity.ViewAttendance">

      insert into attendance_quick_record (
      USER_ID, EMPLOYEE_ID, WORK_MONTH, WORK_TIME, FILE_URL,
      CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER)
      values
      (#{userId},#{employeeId},#{workMonth},#{workTime},null,
      CURRENT_TIMESTAMP,#{userId},CURRENT_TIMESTAMP,#{userId})      

    </insert>

    <select id="selectMonthEmployeeID" resultType="java.util.Map">
       select  DISTINCT WORK_MONTH,EMPLOYEE_ID,EMPLOYEE_NAME_CN,COMPANY_NAME,CUSTOMER_SITE_NAME,PROJECT_NAME,WORK_TIME from v_attendance
        where EMPLOYEE_ID=#{employeeId}
        and WORK_MONTH=#{workMonth}
    </select>

    <update id="updateMonthEmployeeID" parameterType="cn.stylefeng.guns.modular.attendance.entity.ViewAttendance">          
		UPDATE attendance_quick_record
		SET WORK_MONTH=#{workMonth},WORK_TIME=#{workTime}
		WHERE EMPLOYEE_ID=#{employeeId}
        and WORK_MONTH=#{workMonth}
    </update>

    <delete id="deleteMonthEmployeeID" parameterType="cn.stylefeng.guns.modular.attendance.entity.ViewAttendance">          		
		DELETE FROM attendance_quick_record
		WHERE EMPLOYEE_ID=#{employeeId}
        and WORK_MONTH=#{workMonth}		
    </delete>

    <select id="selectAllMyAttendance" resultMap="listMap">
      select
      EMPLOYEE_ID,
      EMPLOYEE_NAME_CN,
      WORK_MONTH,
      WORK_TIME,
      PROJECT_NAME ,
      CUSTOMER_SITE_NAME,
      COMPANY_NAME,
      STATUS
        from v_attendance
        where 1=1
        <if test="currentMonth != null">
            AND WORK_MONTH=#{currentMonth}
        </if>
        <if test="empId != null and empId != ''">
            AND EMPLOYEE_ID=#{empId}
        </if>
        <if test="status != null and status != ''">
            AND STATUS = #{status}
        </if>
        order by WORK_MONTH desc
        limit #{start},#{end}
    </select>


    <select id="selectDataSize" resultType="Long">
        select count(1)
        from v_attendance
    </select>


    <update id="updateStatus" parameterType="cn.stylefeng.guns.modular.attendance.entity.ViewAttendance">
      update attendance_quick_record
      set STATUS=#{status}
      where 1=1
        <if test="workMonth != null">
            and WORK_MONTH=#{workMonth}
        </if>
        <if test="employeeId !=null">
            and EMPLOYEE_ID=#{employeeId}
        </if>

    </update>
</mapper>
