<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.attendance.mapper.AttendanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.attendance.entity.AttendanceRecord">
        <id column="USER_ID" property="userId"/>
        <id column="WORK_DATE" property="workDate"/>
        <result column="ATTENDANCE_TYPE" property="attendanceType"/>
        <result column="USER_NAME" property="userName"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="period" property="dayPeriod"/>
        <result column="VERSION" property="version"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_USER" property="updateUser"/>
    </resultMap>
    <insert id="insertAttendanceList" parameterType="cn.stylefeng.guns.modular.attendance.entity.AttendanceRecord">

      insert into attendance_record (
      USER_ID, ATTENDANCE_TYPE, WORK_DATE, START_TIME, END_TIME,
      CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER)
      values
      (#{userId},#{attendanceType},#{workDate},#{startTime},#{endTime},
      CURRENT_TIMESTAMP,#{userId},CURRENT_TIMESTAMP,#{userId})
      ON DUPLICATE KEY UPDATE
      USER_ID = #{userId},
      ATTENDANCE_TYPE = #{attendanceType},
      WORK_DATE= #{workDate},
      START_TIME = #{startTime},
      END_TIME = #{endTime} ,
      CREATE_TIME = CURRENT_TIMESTAMP,
      CREATE_USER = #{userId},
      UPDATE_TIME = CURRENT_TIMESTAMP,
      UPDATE_USER = #{userId}

    </insert>

    <select id="selectMyAttendance" resultMap="BaseResultMap">
        select a.*,
                b.NAME AS 'USER_NAME' ,
                TIMEDIFF(a.END_TIME,a.START_TIME) as 'period'
        from attendance_record a
        inner join sys_user b on a.USER_ID=b.USER_ID
        where a.USER_ID=#{userId}
        and DATE_FORMAT( a.WORK_DATE, '%Y%m' ) = #{selectMonth}
    </select>
    <select id="selectAttendanceType" resultType="java.lang.Integer">
        SELECT
            m.ATTENDANCE_TYPE
        FROM
            customer_site_relation r
            INNER JOIN customer_site m ON r.CUSTOMER_SITE_ID = m.CUSTOMER_SITE_ID
        WHERE
            r.USER_ID =#{userId}


    </select>


</mapper>
