<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.employee.mapper.InfoMgrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.employee.entity.InfoMgr">
        <id column="EMPLOYEE_ID" property="employeeId"/>
        <result column="EMPLOYEE_NAME_CN" property="employeeNameCn"/>
        <result column="PROJECT_NAME" property="projectName"/>
        <result column="CUSTOMER_SITE_NAME" property="customerSiteName"/>
        <result column="COMPANY_NAME" property="companyName"/>
    </resultMap>
	<insert id="insertProjectRelation" parameterType="cn.stylefeng.guns.modular.employee.entity.ProjectRelation">
		INSERT INTO project_relation ( PROJECT_ID, USER_ID, EMPLOYEE_ID, POSITIOIN_CUSTOMER, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER, VERSION )
		VALUES
		(#{projectId},#{userId},#{employeeId},NULL,CURRENT_TIMESTAMP,#{userId},CURRENT_TIMESTAMP,#{userId},NULL)
	</insert>
	<insert id="insertEmployee" parameterType="cn.stylefeng.guns.modular.employee.entity.InfoMgr">
		INSERT INTO employee ( EMPLOYEE_ID，EMPLOYEE_NAME_CN )
		VALUES
		(#{employeeId}，#{employeeNameCn})
	</insert>

	<select id="list" resultType="map">
	select
		e.USER_ID as userId,
		e.EMPLOYEE_ID as employeeId,
		e.EMPLOYEE_NAME_CN as employeeNameCn,
		c.COMPANY_NAME as companyName,
		cs.CUSTOMER_SITE_NAME as customerSiteName,
		p.PROJECT_NAME as projectName
	from
		employee e
		left join project_relation pr on pr.USER_ID = e.USER_ID
		left join project p on pr.PROJECT_ID = p.PROJECT_ID
		left join customer_site cs on p.CUSTOMER_SITE_ID = cs.CUSTOMER_SITE_ID
		left join customer c on cs.CUSTOMER_ID = c.CUSTOMER_ID
		<if test="condition != null and condition != ''">
	            where EMPLOYEE_NAME_CN like CONCAT('%',#{condition},'%') 
	    </if>
    </select>

</mapper>
