<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.Employee">

        <id column="USER_ID" property="userId"/>
        <result column="EMPLOYEE_ID" property="employeeId"/>
        <result column="EMPLOYEE_NAME_CN" property="employeeNameCN"/>
        <result column="EMPLOYEE_NAME_JP" property="employeeNameJP"/>
        <result column="EMPLOYEE_NAME_KANA" property="employeeNameKANA"/>
        <result column="PROVINCE" property="province"/>
        <result column="CITY" property="city"/>
        <result column="ADDRESS" property="address"/>
        <result column="STATION" property="station"/>
        <result column="ENTRY_TIME" property="entryTime"/>
        <result column="BIRTHDATE" property="brithdate"/>
        <result column="POSITION_ID" property="positionId"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="VERSION" property="version"/>
    </resultMap>

    <insert id="insertEmpoyee" parameterType="cn.stylefeng.guns.modular.system.entity.Employee">

        insert into employee (USER_ID, EMPLOYEE_ID, EMPLOYEE_NAME_CN, EMPLOYEE_NAME_JP, EMPLOYEE_NAME_KANA, ENTRY_TIME,
        BIRTHDATE, PROVINCE, CITY, STATION, ADDRESS, POSITION_ID,STATUS,
        VERSION, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER)
        values   (#{userId},#{employeeId},#{employeeNameCN},#{employeeNameJP},#{employeeNameKANA},
        #{entryTime}, #{brithdate},#{province},#{city},#{station},#{address},#{positionId},"ENABLE",#{version},
      CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,#{userId},#{userId})

    </insert>
    <select id="selectEmployeeByUserId" resultMap="BaseResultMap">

        select * from employee
        where USER_ID=#{userId}

    </select>


</mapper>
