<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.company.mapper.CustomerSiteMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.company.entity.CustomerSite">
        <id column="CUSTOMER_ID" property="customerID"/>
        <id column="CUSTOMER_SITE_ID" property="customerSiteID"/>
        <result column="CUSTOMER_SITE_NAME" property="customerSiteName"/>
        <result column="CUSTOMER_SITE_ADDRESS" property="customerSiteAddress"/>
        <result column="CUSTOMER_SITE_STATION" property="customerSiteStation"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_USER" property="updateUser"/>
    </resultMap>
    
	<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
  			CUSTOMER_ID as customerID,
  			CUSTOMER_SITE_ID as customerSiteID,
        	CUSTOMER_SITE_NAME as customerSiteName,
			CUSTOMER_SITE_ADDRESS as customerSiteAddress,
			CUSTOMER_SITE_STATION as customerSiteStation,
			CREATE_TIME as createTime,
			CREATE_USER as createUser,
			UPDATE_TIME as updateTime,
			UPDATE_USER as updateUser
    </sql>
    <!--select id="selectCustomerSite"  resultType="cn.stylefeng.guns.modular.company.entity.CustomerSite">
        select *
        from
        <!-where CUSTOMER_SITE_NAME = #{customersiteName}-->
        <!--and DATE_FORMAT( a.WORK_DATE, '%Y%m' ) = #{selectMonth}-->
    <!--/select-->

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from customer_site
        <if test="customersiteName != null and customersiteName != ''">
            where CUSTOMER_SITE_NAME like CONCAT('%',#{customerSiteName},'%')
        </if>
        order by CUSTOMER_ID asc
    </select>
    <select id="getMaxCustomerSiteId" resultType="long">
        select max(CUSTOMER_SITE_ID)+1 from customer_site;
    </select>

    <update id="updateByCustomerID" parameterType="cn.stylefeng.guns.modular.company.entity.CustomerSite">
        UPDATE customer_site
        SET CUSTOMER_SITE_NAME=#{customerSiteName},CUSTOMER_SITE_ADDRESS=#{customerSiteAddress},CUSTOMER_SITE_STATION=#{customerSiteStation}
        WHERE CUSTOMER_ID=#{customerID}
    </update>
</mapper>
