<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.company.mapper.ProjectMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.company.entity.Project">
        <id column="PROJECT_ID" property="projectId"/>
        <id column="CUSTOMER_SITE_ID" property="customerSiteID"/>
        <result column="PROJECT_NAME" property="projectName"/>
        <result column="PROJECT_PROCESS" property="projectProcess"/>
        <result column="PROJECT_TECH" property="projectTech"/>
        <result column="ATTENDANCE_TYPE" property="attendanceType"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_USER" property="updateUser"/>
    </resultMap>
    
	<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            PROJECT_ID as projectId,
  			CUSTOMER_SITE_ID as customerSiteID,
        	PROJECT_NAME as projectName,
			PROJECT_PROCESS as projectProcess,
			PROJECT_TECH as projectTech,
			ATTENDANCE_TYPE as attendanceType,
			CREATE_TIME as createTime,
			CREATE_USER as createUser,
			UPDATE_TIME as updateTime,
			UPDATE_USER as updateUser
    </sql>
    <select id="list" resultType="map">
        select
        a.PROJECT_ID as projectId,
        a.CUSTOMER_SITE_ID as customerSiteID,
        a.PROJECT_NAME as projectName,
        a.PROJECT_PROCESS as projectProcess,
        a.PROJECT_TECH as projectTech,
        a.ATTENDANCE_TYPE as attendanceType,
        b.STANDARD_MIN_TIME as standardMinTime,
        b.STANDARD_MAX_TIME as standardMaxTime,
        b.NOON_START as noonStart ,
        b.NOON_END as noonEnd,
        b.EVENING_START as eveningStart,
        b.EVENING_END as eveningEnd
        from project a
        left join attendance_type b on a.ATTENDANCE_TYPE=b.ATTENDANCE_TYPE
        <if test="projectName != null and projectName != ''">
            where a.PROJECT_NAME like CONCAT('%',#{projectName},'%')
        </if>
        order by a.CREATE_TIME DESC
    </select>
    <update id="updateByProjectId" parameterType="cn.stylefeng.guns.modular.company.entity.Project">
        UPDATE project
        SET PROJECT_NAME=#{projectName},PROJECT_PROCESS=#{projectProcess},PROJECT_TECH=#{projectTech}
        WHERE PROJECT_ID=#{projectId}
    </update>
</mapper>
